compiler/
logs/
zig-out/
zig-cache/
.zig-cache/
serverAssets/
gamecontrollerdb.txt
gamecontrollerdb.stamp

test.png

/mods/*
!/mods/cubyz

blueprints/

/assets/*
!/assets/cubyz
!/assets/backgrounds/default_background.png
/assets/cubyz/music
/assets/cubyz/fonts
