compiler/
logs/
saves/
zig-out/
zig-cache/
.zig-cache/
serverAssets/
gamecontrollerdb.txt
gamecontrollerdb.stamp

test.png

# Ignore user generated backgrounds

/assets/*

!/assets/cubyz

~/assets/backgrounds/default_background.png