compiler/
logs/
saves/
zig-out/
zig-cache/
.zig-cache/
serverAssets/
gamecontrollerdb.txt
gamecontrollerdb.stamp

test.png

/mods/*
!/mods/cubyz

# Ignore user generated backgrounds
/assets/backgrounds/client_*.png
