# This is a basic workflow that is manually triggered

name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  compile:
    runs-on: ubuntu-latest
    name: Compilation Check
    steps:
      - uses: actions/checkout@v3
      - uses: mlugg/setup-zig@v1
        with:
          version: 0.14.0-dev.1550+4fba7336a
      - run: sudo apt install libgl-dev libasound2-dev libx11-dev libxcursor-dev libxrandr-dev libxinerama-dev libxext-dev libxi-dev
      - run: zig build

  format_check:
    runs-on: ubuntu-latest
    name: Format Check

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
    - uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - run: python3 "format_check.py"
